
.add-post-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 500px;
    max-width: 80%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.3s ease;
  }

  .add-post-form.fade-in {
    opacity: 1;
    visibility: visible;
  }
  
  .add-post-form.fade-out {
    opacity: 0;
    visibility: hidden;
  }

form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


#form-textarea{
    min-height: 200px;
    resize: none;
}



.close-button{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    
}
.close-button:hover{
    color: red;
}



  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.3s ease;
  }
  
  .overlay.fade-in {
    opacity: 1;
    visibility: visible;
  }
  
  .overlay.fade-out {
    opacity: 0;
    visibility: hidden;
  }
  