
.posts-page-header {
    position: relative;
    height: 120px;
    padding: 10px;
    border-bottom: 3px solid #007bff;
    min-width: 350px;
}

.search-container {
    display: flex;
    align-items: center;
    width: 50%;
}

#search-posts {
    flex: 1; 
    padding: 5px;
    margin-left: 10px;
}

#clear-search {
    margin-left: 5px; 
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

#start-post {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}
